<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="iona.mapper.BaseMapper">
	<sql id="pager">
		<if	test="pager != null">
			LIMIT #{pager.start} , #{pager.size}
		</if>
	</sql>
</mapper>




